# Bỏ qua tất cả các thư mục ở root
/*/

# Ngoại trừ các thư mục được phép commit
!/docs/
!/public/
!/src/

# Các file/thư mục rác thông thường (nếu có sinh ra trong root hoặc các thư mục được phép)
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*